* {
    margin:0
    padding:0
    box-sizing:border-box;
}
.cards {
    display: flex;
    justify-content: center;
    
}
.conteiner {
    width: 865px;
    display: flex;
    justify-content: space-between;
    gap: 80px;
    /* background-color: gray; */
}
.card {
    flex-basis: 285px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    /* background-color: brown; */
}
.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
.title {
    color: aquamarine;
}